h1,
h2,
h3 {
	font-family: 'Josefin Sans', sans-serif !important;
}

.loopstudios-logo {
	width: 70%;

	@include breakpoint-up('large') {
		width: 100%;
	}
}

.link-hover {
	position: relative;
	&:hover {
		&:before {
			content: '';
			height: 3px;
			width: 40%;
			position: absolute;
			bottom: -10%;
			left: 50%;
			transform: translateX(-50%);
			background-color: white;
		}
	}
}

.hero-section {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url('../images/mobile/image-hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	@include breakpoint-up('medium') {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
			url('../images/desktop/image-hero.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.interactive-text {
	text-align: center;
	transition: all 0.2s ease-in-out;

	@include breakpoint-up('large') {
		position: absolute;
		top: 38%;
		left: 51%;
		padding-top: 5rem !important;
		padding-left: 5rem !important;
		text-align: left !important;
	}
}

.creations-item {
	height: 7.5rem;

	@include breakpoint-up('medium') {
		height: 28rem;
	}

	.img-item {
		height: 100%;
		width: 100%;
		background-size: cover;

		&-1 {
			background-image: url('../images/mobile/image-deep-earth.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-deep-earth.jpg');
			}
		}

		&-2 {
			background-image: url('../images/mobile/image-night-arcade.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-night-arcade.jpg');
			}
		}

		&-3 {
			background-image: url('../images/mobile/image-soccer-team.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-soccer-team.jpg');
			}
		}

		&-4 {
			background-image: url('../images/mobile/image-grid.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-grid.jpg');
			}
		}
		&-5 {
			background-image: url('../images/mobile/image-from-above.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-from-above.jpg');
			}
		}

		&-6 {
			background-image: url('../images/mobile/image-pocket-borealis.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-pocket-borealis.jpg');
			}
		}

		&-7 {
			background-image: url('../images/mobile/image-curiosity.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-curiosity.jpg');
			}
		}

		&-8 {
			background-image: url('../images/mobile/image-fisheye.jpg');

			@include breakpoint-up('medium') {
				background-image: url('../images/desktop/image-fisheye.jpg');
			}
		}
	}

	.text-item {
		position: absolute;
		bottom: 10%;
		left: 8%;
		width: 36%;

		@include breakpoint-up('medium') {
			bottom: 10%;
			left: 15%;
			width: 50%;
		}
	}
}

.see-all {
	letter-spacing: 5px;
	cursor: pointer;
	color: $secondary;
	position: absolute;
	top: 92%;
	right: 50%;
	transform: translateX(50%);
	padding: 0.5rem;
	width: 11rem;
	text-align: center;

	&:hover {
		color: white;
		background-color: $secondary;
	}

	@include breakpoint-up('medium') {
		top: 95%;
	}

	@include breakpoint-up('large') {
		top: 0;
		right: 0%;
		transform: translateX(0%);
	}
}

.footer {
	height: 30rem;

	@include breakpoint-up('medium') {
		height: 12rem;
	}
}
